.banner {
  background-image: linear-gradient(90deg, rgba(139, 135, 137, 1) 0%, rgba(41, 41, 43, 0.7290266448376226) 100%), url('https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
  background-position: center;
  padding: 17% 0;
  text-align: center;
  color: #e4e3e3;
}

.banner h1 {
  font-size: 2.8125rem;
  font-family: 'Montserrat', sans-serif;
}

.banner p {
  font-size: 1.5rem;
}
